.top {
  background-color: rgba(163, 187, 200, .2);

  &__inner {
    text-align: center;
    padding: 35px 0 27px;
  }

  &__title {
    @extend %rubik-300;
    font-size: 36px;
    line-height: 24px;
    color: #222933;
    margin-bottom: 15px;
  }
}

@media (max-width: 1050px) {

  .top {
    &__title {
     font-size: 32px;
     line-height: 20px;
    }

    &__inner {
      padding: 25px 0;
    }
  } 
}

@media (max-width: 640px) {

  .top {
    &__title {
     font-size: 26px;
     line-height: 18px;
    }

    &__inner {
      padding: 15px 0;
    }
  }
}

@media (max-width: 560px) {

  .top{
    &__title {
     font-size: 22px;
     line-height: 16px;
     margin-bottom: 10px;
    } 

    &__inner {
      padding: 10px 0;
    }
  }
}