
body {
  height: 100%;
}

body { 
  display: flex;
  flex-direction: column;
  @extend %rubik-400;
  font-size: 16px;    
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.container__small {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer, 
.footer a {
  @extend %rubik-400;
  color: #7b7b7b;
  font-size: 14px;
  line-height: 24px;
}

.title {
  text-align: center;
  @extend %dmsans-700;
  font-size: 36px;
  color: #1a1a1a;
}

.breadcrumbs {
  display: flex;
  justify-content: center;
  &__list {
    display: flex;    
    // justify-content: center;
  }

  &__item+&__item {
    margin-left: 20px;
  } 

  &__item {
    position: relative;
    &::after {
      content: '/';
      position: absolute;
      top: 0;
      right: -15px;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }

  }

  &__link{
    text-decoration: none;
    cursor: pointer;
    color: red;
  }
}

