
body {
  height: 100%;
}

body { 
  display: flex;
  flex-direction: column;
  @extend %rubik-400;
  font-size: 16px; 
  color: $body;   
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.container__small {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer, 
.footer a,
.modal__label {
  @extend %rubik-400;
  color: #7b7b7b;
  font-size: 14px;
  line-height: 24px;
}

.title {
  text-align: center;
  @extend %dmsans-700;
  font-size: 36px;
  color: #1a1a1a;
}

.breadcrumbs {
  display: flex;
  justify-content: center;
  &__list {
    display: flex;    
  }

  &__item+&__item {
    margin-left: 20px;
  } 

  &__item {
    position: relative;
    &::after {
      content: '/';
      color: rgba(34, 41, 51, 0.6);
      position: absolute;
      top: 3px;
      right: -14px;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
  }

  &__link{
    text-decoration: none;    
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(34, 41, 51, 0.6);
  }
}

.pagination {
  padding-top: 105px;
  display: flex;
  justify-content: center;
  align-items: center;     
 
 &__list {
   display: flex;  
 }

 &__item {  
   margin-right: 15px;
 } 
    
  &__link {
    display: block;
    line-height: 14px;
    color: $body;
    width: 50px;
    height: 50px;
    border: 1px solid $green;
    text-align: center;
    padding: 17px 0;
    &--active {
     background-color: $green; 
     color: #fff;   
    }
  }  
                              
 &__next {
   line-height: 14px;
   color: $body;
   text-align: center;
   padding: 17px 0;
   width: 74px;
   height: 50px;
   border: 1px solid $green;
  }
}

