body { 
  color: #191919; 
  font-size: 16px;    
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.container__small {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer, 
.footer a {
  @extend %rubik-400;
  color: #7b7b7b;
  font-size: 14px;
  line-height: 24px;
}

