$accent: #436372;
$pink: rgba(252, 215, 182, 0.2);
$green: #a3bbc8;
$body: #243f4d;

%arrow__btn {
  background-color: $green;
  font-size: 15px;
  color: #fff;
  padding: 21px 19px 21px 27px;
  display: inline-block;
}

%prod__button {
  padding: 0;
  border: none;
  background-color: transparent;
  @extend %dmsans-700;
  font-size: 16px;
  color: #8b8b8b;
  margin: 0 15px;
  text-transform: capitalize;
  cursor: pointer;
}

%rubik-700 {
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
}

%rubik-500 {
  font-family: 'Rubik-Medium',sans-serif;
  font-weight: 500; 
}

%rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-300 {
  font-family: 'Rubik-Light', sans-serif;
  font-weight: 300;
}

%dmsans-700 {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%dmsans-500 {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-400 {
  font-family: 'DMSans-Regular',sans-serif;
  font-weight: 400;
}

%poppins-700 {
  font-family: 'Poppins-Bold',sans-serif;
  font-weight: 700;
}