@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {  
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 54px;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__list-item+.menu__list-item {
   margin-left: 37px;
  }
 
  &__list-link {
    @extend %rubik-500;
    color:$accent;
    font-size: 15px;
    line-height: 12px;
    text-transform: capitalize;
  }
}

.user-nav {
  display: flex;
    
 &__search  {
   background-color: rgba(163, 187, 200, 0.2);
   width: 50px;
   border-radius: 50%;
 }

 &__circle {
   background-color: $green;
   width: 50px;
   border-radius: 50%;
   margin-left: 20px;
 }

 &__add {
   background-color: #fcd7b6;
   display: flex;
   align-items: center;
   margin-left: 20px;
   padding: 0 22px;
   border-radius: 50px;   
   position: relative;
 }

 &__add-inner {
   margin: 0 9px;
   position: relative;
 }

 &__add-inner+&__add-inner::before {
   content: '';
   background-color: #fff;
   width: 1px;
   height: 32px;  
   top: 8px;
   right: 55px;
   position: absolute;
 }

  &__icon {
   margin: 0 auto;
   padding: 16px;
  }
 
  &__num {
    position: absolute;
    height: 16px;
    width: 16px;
    background-color: #fff;
    color: #243f4d;
    @extend %dmsans-400;
    font-size: 10px;
    line-height: 18px;
    border-radius: 50%;
    top: 8px;
    left: 28px; 
    text-align: center;    
  }
}

.footer {
  &__logo {
    display: block;
    margin-bottom: 25px;
  }
}

.footer-top {  
  &__inner {
    display: flex;
    padding: 70px 0 70px;
    border-bottom: 1px solid $green;
  }

  &__contact {
    width: 200px;
    margin-right: 100px;
  }

  &__contact-list {
    margin-bottom: 10px;
  }
 
  &__contact-text {
    display: inline-block;
    text-transform: uppercase
  }

  &__services {
    width: 150px;
    margin-right: 150px;
  }

  &__servises-item {
    margin-bottom: 10px;
  }

  &__title {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 21px;
    color: #1f2044;
    text-transform: uppercase;
    margin: 10px 0 20px;
  }
  
  &__account {    
    width: 100px;
    margin-right: 200px;
  }

  &__account-item {
    margin-bottom: 10px;
  }
  
  &__newsletter {
    max-width: 270px;    
  }

  &__text {
    line-height: 24px;
    margin-bottom: 38px;
  }

  &__form {
    display: flex;
    @extend %dmsans-400;
    font-size: 14px;
    line-height: 21px;
    @extend %dmsans-400;
  }

  &__form-input {    
    border: none;
    max-width: 170px;
    width: 100%;
    @extend %dmsans-400;
    font-size: 12px;
    background-color:$pink;      
    color: #234969;
    padding: 14px 10px 15px 16px; 
  }

  &__form-input::placeholder {
    @extend %dmsans-400;
    font-size: 12px;
    color: #234969;
  }

  &__form-btn {
    border: none;
    background-color: $green;    
    color: #fff;  
    cursor: pointer;
    padding: 14px 19px 16px;  }
}

.footer-bottom {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;    
  }

  &__copy {
    line-height: 32px;
  }

  &__menu-list {
    display: flex;       
  }

  &__menu-item {
    margin-left: 30px;
    line-height: 32px;
    position: relative;    
  }

  &__menu-item + &__menu-item::before {
   content: '';
   width: 1px;
   height: 17px;
   background-color: #7b7b7b;
   top: 7px;    
   left: -16px;
   position: absolute;
  }
}

.top-slider {
  background-image: url(../images/slider-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 45px 0;
 
  
  &__inner {
    align-items: flex-end;    
  }

  &__inner-item {    
    display: flex !important; 
    justify-content: space-between;
    align-items: flex-end;
    padding: 180px 1px 207px;
  }

  &__title {
    max-width: 525px;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    color: #243f4d;
    margin-bottom: 40px;
  }

  &__text {
    max-width: 360px;
    font-size: 18px;
    line-height: 30px;
    color: #436372;
    margin-bottom: 37px;
  }

  &__btn {    
    background-color: $green;
    font-size: 15px;
    color: #fff;
    padding: 21px 19px 21px 27px;
    display: inline-block;
  }

  &__btn-img {  
    margin-left: 58px;
  }  

  &__inner-images {
    height: 264px;
  }
}

.slick-slide img {
  display: inline-block;
}

.slick-dots {
  display: flex;
  justify-content: center;   
  li {
    button {
      padding: 0;
      margin: 0 5px;
      border: none;
      width: 30px;
      height: 29px; 
      border-radius: 50%;
      background-color: #fff;
      opacity: 0.3;    
      @extend %rubik-500;
      font-size: 11px;
      line-height: 8.5px;
    }
    &.slick-active {
      button {
       background-color: fff;
       opacity: 1;
      }
    }
  }
}

.conditions {
  background-color: $pink;

  &__inner {
    padding: 48px 100px 46px;
    display: flex;
    justify-content: space-between;
    height: 171px;   
  }

  &__item {
    display: flex;    
    padding: 10px 50px;
    align-items: center;
    position: relative;
  }

  &__item+&__item::before {
    content: '';
    width: 1px;
    height: 171px;
    background-color: #243f4d;
    opacity: 0.1;
    // top: -48px;
    left: -50px;    
    position: absolute;
  }

  &__item-description {
    margin-left: 25px;
  }

  &__item-title {
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
  }

  &__item-text {
    max-width: 213px;
    @extend %dmsans-400;
    font-style: 16px;
    line-height: 30px;
    color: #585858;
  }
}

.products {  

  &__inner {
    padding: 70px 0 186px; 
  }

  &__title {
    text-align: center;
    @extend %dmsans-700;
    font-size: 36px;
    margin-bottom: 40px;
  }

  &__button {
    text-align: center;       
    margin-bottom: 30px;    
  }

  
  &__btn {
    padding: 0;
    border: none;
    background-color: transparent;
    @extend %dmsans-700;
    font-size: 16px;
    color: #8b8b8b;
    margin: 0 15px;
    text-transform: capitalize;
    cursor: pointer;
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 380px 380px;
    grid-column-gap: 30px;
    grid-row-gap: 40px;    
  }

  &__images-item {
    padding: 27px 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;    
    text-align: center;
    background-color:#fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  }

   &__images-item:hover .customer__panel {
     display: block;    
   }

  &__images-link {}

  &__images-image {
    display: inline-block;
    margin-bottom: 45px;
  }

  &__images-name {
    @extend %dmsans-500;
    font-size: 16px;
    line-height: 40px;
    color: #243f4d    
  }

  &__images-price {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 40px;
    color: #a3bbc8;
  }
}

.customer__panel {
  // display: none;
  position: relative  ;
  &__icon-search {   
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom:23px;
  }
  &__icon-cart {    
    display: inline-block;
    position: absolute;
    left: 63px;
    bottom: 23px;
  }

  &__icon-heart {    
    display: inline-block;
    position: absolute;
    left: 123px;
    bottom: 23px;
  }
  &__icon-search:hover {
     .cls-1 {
       fill: #a3bbc8;
       
     }

     .cls-2 {
       fill: #fff;
       
     }
  }

}

.mixitup-control-active {
  color: #1a1a1a;
}



.title {}




@import 'media';