.lamp {
  &__inner {
    display: flex;
  }

  &__item {
    width: 870px;
    height: 390px;
    display: flex;
    justify-content: center;
    background-color: rgba(252, 215, 182, 0.4);

    &-box {
      max-width: 600px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__item+&__item {
    margin-left: 30px;
  }

  &__item-img {
    margin-top: -185px;
  }

  &__item-description__title {
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
    width: 250px;
    margin-bottom: 20px;
  }

  &__item-description__text {
    line-height: 30px;
    width: 329px;
    margin-bottom: 20px;
  }

  &__btn {
    background-color: transparent;
    border: solid 1px $accent;
    border-radius: 5px;
    font-size: 15px;
    color: $accent;
    padding: 23px 20px 21px;
    display: inline-block;
    width: 180px;
    height: 60px;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
  }

  &__btn-img {
    margin-left: 38px;
    display: inline-block;
  }
}