.partner {
  background-color: $pink;

  &__inner {
    height: 437px;
    margin-top: -171px;

    &.partner__inner-login {
      height: 251px;
      margin-top: 0;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 268px;

   &.partner__list-login {
      padding: 78px 0 90px;
    }
  }
}

@media (max-width: 1200px) {

  .partner {

    &__inner {
      margin-top: 65px; 
      height: auto;

      &.partner__inner-login {
        height: auto;        
      }
    }

    &__list{    
      padding: 20px 10px;

      &.partner__list-login {
        padding: 20px 10px;
      }      
    }

    &__item {
      margin: 15px;
    }
  }
}

@media (max-width: 560px) {

  .partner {

    &__inner {
      margin-top: 50px;     
    }

    &__list {
      padding: 10px;
    }

    &__item {
      margin: 10px;
    }
  }
}