<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glee</title>
  <link rel="stylesheet" href="css/blogDetails.min.css">
</head>

<body>

 {% include 'app/module/_header/_header.html' %}

  <main class="main">

    {% include 'app/module/_top/_top_blogdetails.html' %}

    <section class="blog blog-details">
      <div class="container">
        <div class="blog__inner">
          <div class="blog__content blog-details__content">
            <img class="blog-item__img" src="images/blog/1.jpg" alt="Blog img.">
            
            {% include 'app/module/_blog-details/_blog-details.html' %}

            {% include 'app/module/_feedback/_feedback.html' %}            

          </div>

          <div class="blog__aside">

           {% include 'app/module/_filter-search/_filter-search.html' %}

           {% include 'app/module/_filter-category/_filter-category.html' %}

           {% include 'app/module/_blog__recent/_blog__recent.html' %}

          </div>
        </div>
      </div>
    </section>

    {% include 'app/module/_partner/_partnerShort.html' %}

  </main>

 {% include 'app/module/_footer/_footer.html' %}


  <script src="js/main.min.js"></script>
</body>

</html>