<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glee</title>
  <link rel="stylesheet" href="css/contacts.min.css">
</head>

<body>

 {% include 'app/module/_header/_header.html' %}
 
  <main class="main">

    {% include 'app/module/_top/_top_contact.html' %}

    {% include 'app/module/_contacts/_contacts.html' %}

    {% include 'app/module/_articles/_articles.html' %}

    {% include 'app/module/_partner/_partner.html' %}

  </main>

 {% include 'app/module/_footer/_footer.html' %}

  <script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap&v=weekly" async></script>
  <script>
    let map;

    function initMap() {
      map = new google.maps.Map(document.getElementById("map"), {
        center: {
          lat: 29.752825746202255,
          lng: -95.3849673264838
        },
        zoom: 5,
      });
    }
  </script>

  <script src="js/main.min.js"></script>
</body>

</html>