<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glee</title>
  <link rel="stylesheet" href="css/contacts.min.css">
</head>

<body>

 {% include 'app/module/_header/_header.html' %}
 
  <main class="main">

    <section class="top">
      <div class="container__big">
        <div class="top__inner">
          <h3 class="top__title">Contact</h3>
          <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="#">Home</a>
              </li>
              <li class="breadcrumbs__item">
                <span class="breadcrumbs__link" href="#">Contact</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="contacts">
      <div class="container">
        <div class="contacts__top">
          <h5 class="contacts__subtitle">Write Here</h5>
          <h4 class="contacts__title">Get In Touch</h4>
          <div class="contacts__box">
            <div class="contacts__box-item contacts__box-item--adress">
              <h5 class="contacts__box-title">Address</h5>
              <div class="contacts__box-text">
                2416 Mapleview Drive <br> Tampa, FL 33634
              </div>
            </div>
            <div class="contacts__box-item contacts__box-item--email">
              <h5 class="contacts__box-title">Our Email</h5>
              <div class="contacts__box-text">
                Main Email :
                <a class="contacts__box-link" href="mailto:contact@website.com">
                  contact@website.com
                </a>
              </div>
              <div class="contacts__box-text">
                Inquiries :
                <a class="contacts__box-link" href="mailto:info@mail.com">
                  info@mail.com
                </a>
              </div>
            </div>
            <div class="contacts__box-item contacts__box-item--phone">
              <h5 class="contacts__box-title">Our Phone</h5>
              <div class="contacts__box-text">
                Office Telephone :
                <a class="contacts__box-link" href="tel:0029129102320">
                  0029129102320
                </a>
              </div>
              <div class="contacts__box-text">
                Mobile :
                <a class="contacts__box-link" href="tel:0029129102320">
                  0029 1291 02320
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="contacts__bottom">

          <div class="feedback contacts__feedback">
            <form class="feedback-form" action="#">
              <div class="feedback-form__box">
                <input class="feedback-form__input feedback-form__input--name" type="text" placeholder="Name">
                <input class="feedback-form__input feedback-form__input--email" type="text" placeholder="email">
              </div>
              <textarea class="feedback-form__textarea" placeholder="message"></textarea>
              <button class="feedback-form__btn" type="submit">send message</button>
            </form>
          </div>

          <div id="map"></div>
        </div>

      </div>
    </section>

    <section class="articles">
      <div class="articles__inner">
        <div class="articles-content">
          <div class="container">
            <div class="articles-content__top">
              <h4 class="articles-content__title title">
                Our Insights & Articles
              </h4>
              <a class="articles-content__link" href="#">
                View All <span>></span>
              </a>
            </div>
            <div class="articles-content__main">
              <div class="articles-content__main-item">
                <img class="articles-content__main-photo" src="images/articles/1.jpg" alt="articles">
                <a class="articles-content__main-btn" href="#">NEWS</a>
                <a class="articles-content__main-title" href="#">
                  Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                  enim ad minim veniam
                </a>
                <div class="articles-content__descr">
                  <div class="articles-content__box">
                    <img class="articles-content__box-img" src="images/articles/calendar.svg" alt="Icon calendar.">
                    <a class="articles-content__box-link" href="#">28 JANUARY, 2020</a>
                  </div>
                  <div class="articles-content__box">
                    <img class="articles-content__box-img" src="images/articles/user.svg" alt="Icon user.">
                    <a class="articles-content__box-link" href="#">BY ADMIN</a>
                  </div>
                </div>
              </div>
              <div class="articles-content__main-item">
                <img class="articles-content__main-photo" src="images/articles/2.jpg" alt="articles">
                <a class="articles-content__main-btn" href="#">NEWS</a>
                <a class="articles-content__main-title" href="#">
                  Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                </a>
                <div class="articles-content__descr">
                  <div class="articles-content__box">
                    <img class="articles-content__box-img" src="images/articles/calendar.svg" alt="Icon calendar.">
                    <a class="articles-content__box-link" href="#">28 JANUARY, 2020</a>
                  </div>
                  <div class="articles-content__box">
                    <img class="articles-content__box-img" src="images/articles/user.svg" alt="Icon user.">
                    <a class="articles-content__box-link" href="#">BY ADMIN</a>
                  </div>
                </div>
              </div>
              <div class="articles-content__main-item">
                <img class="articles-content__main-photo" src="images/articles/3.jpg" alt="articles">
                <a class="articles-content__main-btn" href="#">NEWS</a>
                <a class="articles-content__main-title" href="#">
                  Rncididunt ut labore et dolore magna aliqua. Ut enim
                </a>
                <div class="articles-content__descr">
                  <div class="articles-content__box">
                    <img class="articles-content__box-img" src="images/articles/calendar.svg" alt="Icon calendar.">
                    <a class="articles-content__box-link" href="#">28 JANUARY, 2020</a>
                  </div>
                  <div class="articles-content__box">
                    <img class="articles-content__box-img" src="images/articles/user.svg" alt="Icon user.">
                    <a class="articles-content__box-link" href="#">BY ADMIN</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="partner">
      <div class="container">
        <div class="partner__inner">
          <ul class="partner__list">
            <li class="partner__item">
              <img class="partner__logo" src="images/partner/1.png" alt="Partner logo.">
            </li>
            <li class="partner__item">
              <img class="partner__logo" src="images/partner/2.png" alt="Partner logo.">
            </li>
            <li class="partner__item">
              <img class="partner__logo" src="images/partner/3.png" alt="Partner logo.">
            </li>
            <li class="partner__item">
              <img class="partner__logo" src="images/partner/4.png" alt="Partner logo.">
            </li>
            <li class="partner__item">
              <img class="partner__logo" src="images/partner/5.png" alt="Partner logo.">
            </li>
          </ul>
        </div>
      </div>
    </div>

  </main>

 {% include 'app/module/_footer/_footer.html' %}

  <script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap&v=weekly" async></script>
  <script>
    let map;

    function initMap() {
      map = new google.maps.Map(document.getElementById("map"), {
        center: {
          lat: 29.752825746202255,
          lng: -95.3849673264838
        },
        zoom: 5,
      });
    }
  </script>

  <script src="js/main.min.js"></script>
</body>

</html>