<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glee</title>
  <link rel="stylesheet" href="css/productLine.min.css">
</head>

<body>

 {% include 'app/module/_header/_header.html' %}

  <main class="main">

    {% include 'app/module/_top/_top_productLine.html' %}

    <section class="product">
      <div class="container">
        <div class="product__inner">

          <div class="product__filter filter">

          {% include 'app/module/_filter-category/_filter-category.html' %}

            {% include 'app/module/_filter-price/_filter-price.html' %} 

            {% include 'app/module/_filter-brand/_filter-brand.html' %} 

            {% include 'app/module/_recent/_recent.html' %}

          </div>

          <div class="product__content content">
            
            {% include 'app/module/_product__content-line/_product__content-line.html' %}
          
            {% include 'app/module/_pagination/_pagination.html' %}

          </div>
        </div>
      </div>

    </section>

    {% include 'app/module/_partner/_partnerShort.html' %}

  </main>

 {% include 'app/module/_footer/_footer.html' %}

  <script src="js/main.min.js"></script>
</body>

</html>