.new-design {
  &__inner {
    padding: 91px 0 117px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__button {
    text-align: center;
    margin-bottom: 78px;
  }

  &__btn {
    @extend %prod__button;
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
    grid-column-gap: 30px;
    grid-row-gap: 34px;
  }

  &__images-item {
    height: 246px;
    padding: 37px 0 0 34px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;    
  }

  &__images-name {
    @extend %dmsans-700;
    font-size: 20px;
    color: #1a1a1a;
    width: 171px;
    display: inline-block;
    margin-bottom: 8px;
  }

  &__images-model {
    @extend %dmsans-700;
    font-size: 16px;
    color: $green;
    display: block;
  }
}

.mixitup-control-active {
    color: #1a1a1a;
}

@media (max-width: 1200px) {

  .new-design {

    &__inner {
      padding: 65px 0 91px;
    }

    &__title {
      margin-bottom: 15px;
    }

    &__images {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 25px;
    }
  }
}

@media (max-width: 760px) {
  .new-design {   

    &__images {
      grid-template-columns: repeat(1, 1fr);      
    }    
  }
}

@media (max-width: 640px) {
  .new-design {

    &__inner {
      padding: 50px 0 50px;
    }

    &__title {
      margin-bottom: 10px;
    }

    &__button {      
      margin-bottom: 40px;
    }

    &__btn {
      font-size: 14px;
      margin: 0 15px 10px 15px;
    }
    
    &__images {
     grid-gap: 15px;
    }

    &__images-item {
      padding: 10px 0 0 10px;
    }

    &__images-name {      
      font-size: 16px;      
    }

    &__images-model {
     font-size: 14px;
    }
  }
}
