.related {
  &__inner {
    padding: 8px 0 11px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  &-slider__box {
    margin: 15px 0;
  }

  &-slider__item {
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    width: 270px;
    height: 380px;
  }

  &__button {
    display: flex;
  }
}

.slick-slide {
  margin: 0 10px;
}

.prev__btn,
.next__btn {
  width: 50px;
  height: 50px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid rgba(163, 187, 200, 0.2);
  margin-left: 20px;

  &--active {
    border: 2px solid $green;
  }
}

 .products {
     &__inner {
       padding: 65px 0 185px;   
     }

     &__title {
      margin-bottom: 25px;
     }

     &__button {
       text-align: center;       
       margin-bottom: 80px;    
     }

     &__btn {
       @extend %prod__button;
     }

     &__images {
       display: grid;
       grid-template-columns: repeat(4, 1fr);
       grid-template-rows: repeat(2, 380px);
       grid-gap: 40px 30px; 

       &-grid {      
         grid-template-columns: repeat(3, 1fr);
         grid-template-rows: repeat(4, 380px);     
       }

       &-line {
         display: flex;
         flex-direction: column;
       }    
     }

     &__images-photo__line {   
       display: flex;
       align-items: center;
       width: 370px;    
       height: 501px;
       border: 2px solid #f2f2f2;
       background-color: #fefefe;
       padding: 22px;
       margin-right: 57px;
       position: relative;
     }

     &__images-description__line {
       max-width: 407px;
       width: 100%;
       padding: 92px 0 60px;
       position: relative;
     }

     &__images-item {
       padding: 27px 15px 20px;
       display: flex;
       flex-direction: column;
       justify-content: flex-end;    
       text-align: center;
       background-color:#fff;
       box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
       overflow: hidden;    
       position: relative;
       border-radius: 10px;

       &__line {
         display: flex; 
       }
     }

    &__images-item:hover {
       .customer-pannel {
        transform: translateY(0);
       }
    }

     &__images-image {
       display: inline-block;
       margin-bottom: 65px;    

       &__line {
         width: 100%;
       }
     }

     &__images-name {
       @extend %dmsans-500;
       font-size: 16px;
       line-height: 30px;      
     }

     &__images-link__line {
       display: inline-block;
       @extend %rubik-400;
       font-size: 40px;
       line-height: 26.4px;
       color: #333;  
       margin-bottom: 25px;  
     }

     &__images-price {
       @extend %dmsans-700;
       font-size: 16px;
       line-height: 40px;
       color: $green;
       &__line {
         @extend %rubik-400;
         font-size: 30px;
         line-height: 45px;
         color: #333;
         margin-bottom: 30px;
       }
     }  

     &__images-text__line {
       line-height: 30px;
       margin-bottom: 34px;
     }
   }

   .customer-pannel {
     display: flex;
     justify-content: center;
     position: absolute;
     top: 177px;
     left: 0;
     right: 0;
     transform: translateY(500%); 
     transition: all .5s;

     &__line {
       justify-content: left;  
       top: 130px; 
     }    

     &__link {
       display: block;
       margin: 0 6px;
       padding: 14px;
       border: none;
       border-radius: 50%;
       background-color: #fff;
       cursor: pointer;
       width: 50px;
       height: 50px;

       &-line {      
         border-radius: 0;     
         box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
         display: flex;
         justify-content: center;
         align-items: center;  
         margin: 0 11px 0 0;       
       }   
     }

     &__link {
      path {
       transition: all .3s;}
     }

     &__link:hover {
       path {
         fill: #fff;
       }
       background-color: $green;    
     }
   }
