.footer {
  &__logo {
    display: block;
    margin-bottom: 25px;
  }
}

.footer-top {
  &__inner {
    display: flex;
    padding: 82px 0 66px;
    border-bottom: 1px solid $green;
  }

  &__contact {
    width: 200px;
    margin-right: 100px;
  }

  &__contact-list {
    margin-bottom: 10px;
  }

  &__contact-text {
    display: inline-block;
    text-transform: uppercase
  }

  &__services {
    width: 150px;
    margin-right: 150px;
  }

  &__servises-item,
  &__account-item {
    margin-bottom: 8px;
  }

  &__title {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 21px;
    color: #1f2044;
    text-transform: uppercase;
    margin: 17px 0 19px;
  }

  &__account {
    width: 100px;
    margin-right: 200px;
  }

  &__newsletter {
    max-width: 270px;
  }

  &__text {
    line-height: 24px;
    margin-bottom: 29px;
  }

  &__form {
    display: flex;
    @extend %dmsans-400;
    font-size: 14px;
    line-height: 21px;
    @extend %dmsans-400;
  }

  &__form-input {
    border: none;
    max-width: 170px;
    width: 100%;
    @extend %dmsans-400;
    font-size: 12px;
    background-color: $pink;
    color: #234969;
    padding: 14px 10px 15px 16px;
  }

  &__form-input::placeholder {
    @extend %dmsans-400;
    font-size: 12px;
    color: #234969;
  }

  &__form-btn {
    border: none;
    background-color: $green;
    color: #fff;
    cursor: pointer;
    padding: 14px 19px 16px;
  }
}

.footer-bottom {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 26px 0;
  }

  &__copy {
    line-height: 32px;
  }

  &__menu-list {
    display: flex;
  }

  &__menu-item {
    margin-left: 30px;
    line-height: 32px;
    position: relative;
  }

  &__menu-item+&__menu-item::before {
    content: '';
    width: 1px;
    height: 17px;
    background-color: #7b7b7b;
    top: 7px;
    left: -16px;
    position: absolute;
  }
}