.top-slider {
  background-image: url(../images/slider-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 45px 0;

  &__inner {
    align-items: flex-end;
  }

  &__inner-description {
    margin-left: -13px;
  }

  &__inner-images {    
    margin-right: -13px;
    height: 264px;
  }

  &__inner-item {
    display: flex !important;
    justify-content: space-between;
    align-items: flex-end;
    padding: 172px 13px 207px;
  }

  &__title {
    max-width: 525px;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    margin-bottom: 25px;
  }

  &__text {
    max-width: 360px;
    font-size: 18px;
    line-height: 30px;
    color: $accent;
    margin-bottom: 37px;
  }

  &__btn {
    background-color: $green;
    font-size: 15px;    
    color: #fff;
    padding: 21px 19px 21px 27px;
    width: 200px;
    height: 60px;
    display: inline-block;
  }

  &__btn-img {
    margin-left: 58px;
  }
}

.slick-slide img {
  display: inline-block;
}

.slick-dots {
  display: flex;
  justify-content: center;

  li {
    button {
      padding: 0;
      margin: 0 5px;
      border: none;
      width: 30px;
      height: 29px;
      border-radius: 50%;
      background-color: #fff;
      opacity: 0.3;
      @extend %rubik-500;
      font-size: 11px;
      line-height: 8.5px;
      cursor: pointer;
    }

    &.slick-active {
      button {
        background-color: fff;
        opacity: 1;
      }
    }
  }
}
.conditions {
  background-color: $pink;

  &__inner {
    max-width: 1470px;
    width: 100%;
    margin: 0 auto;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    height: 171px;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__item+&__item {
    border-left: 1px solid #e8e4df;
    padding-left: 150px;
  }

  &__item-description {
    margin-left: 25px;
  }

  &__item-title {
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
  }

  &__item-text {
    max-width: 213px;
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 30px;
    color: #585858;
  }
}


@media (max-width: 1240px) {

  .conditions {
    &__item+.conditions__item {
      padding-left: 60px;
    }
  }
}

@media (max-width: 1200px) {

  .top-slider {
    
    &__inner-images {
      width: 550px;
      height: auto;
    } 

    &__title {
      font-size: 61px;
      line-height: 58px;
    }

    &__inner-item {
      padding: 150px 13px 150px;
    }

  }
}

@media (max-width: 1050px) {

  .top-slider {

    &__inner-images {
      width: 480px;
      height: auto;
    }

    &__title {
      font-size: 50px;
      line-height: 45px;
    }

    &__text {
      font-size: 16px;
      line-height: 26px;
    }

    &__inner-item {
      padding: 80px 13px 80px;
    }

    &__btn {
      width: 160px;
    }

    &__btn-img {
      margin-left: 15px;
    }
  }

  .conditions {
    &__inner {
      padding-top: 15px;
      flex-direction: column;
      height: auto;
      max-width: 100%;
    
    }

    &__item {
      margin-bottom: 15px;           
    }

    &__item+.conditions__item {
      padding-left: 0;
      border-left: none;
    }

    &__item-title {
      font-size: 16px;
      line-height: 26px;
    }

    &__item-text {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

@media (max-width: 860px) {
  
  .top-slider { 
    
    .top-slider__inner-images {
      display: none;
    }

    &__inner-item {
      padding: 25px 13px 25px;
    }       
  }
}

@media (max-width: 560px) {

  .top-slider {  
    padding: 15px 0; 

    &__inner-item {
      padding: 0 13px 0;
    }

    &__text {
      margin-bottom: 15px;
    }

    &__title {
      font-size: 30px;
      line-height: 32px;
    }

    &__btn {
      width: 82px;
      padding: 5px;
      height: 35px;
      line-height: 26px;
    }

    .top-slider__btn-img {
      display: none;
    }
  }

  ul.slick-dots {
    margin-top: 10px;
  }

  .conditions {
    &__inner {         
      padding-top: 10px;
    }

    &__item {
      margin-bottom: 10px;
    }

    &__item-title {
      font-size: 14px;
      line-height: 20px;
    }

    &__item-text {
      font-size: 12px;
      line-height: 16px;
    }     
  }
}
