.articles-video {
  background-image: url(../images/video-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  &__popup {
    display: flex;
    justify-content: center;
    height: 500px;
    align-items: center;
  }
}