.filter {
  max-width: 270px;
  width: 100%;
  margin-right: 30px;

  &__title {
    text-transform: uppercase;
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 1.2;
    color: $body;
    margin-bottom: 25px;
    display: inline-block;
    position: relative;

    &::after {
      content: '';
      width: 39px;
      height: 3px;
      top: 8px;
      right: -53px;
      ;
      background-color: $green;
      position: absolute;
    }
  }
}

.filter-brand {
  margin-bottom: 60px;

  &__label {
    cursor: pointer;
  }

  &__input {
    @extend %checkbox-hidden;

    &:checked+.filter-brand__checkbox {
      background-color: rgba(163, 187, 200, .2);
    }
  }

  &__checkbox {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 10px;
    border-radius: 5px;
    background-color: #fff;
    line-height: 43px;
    color: $body;
  }
}


