.terms {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;

  &__inner {
    padding-top: 115px;
  }

  &__item {
    margin-bottom: 75px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item-title {
    @extend %rubik-500;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 30px;
  }

  &__item-list {
    padding-left: 30px;
    list-style-type: decimal-leading-zero;
  }

  &__item-text {
    line-height: 30px;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 1200px) {

  .terms {

    &__inner {
      padding-top: 65px;
    }

    &__item {
      margin-bottom: 50px;
    }

    &__item-text {
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 640px) {

  .terms {

    &__inner {
      padding-top: 50px;
    }

    &__item {
      margin-bottom: 30px;
    }

    &__item-title {
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 20px;
    }
  }
}