.articles-content {
  padding-top: 113px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 41px;
  }

  &__link {
    @extend %dmsans-700;
    color: #262626;
    line-height: 28px;

    span {
      margin-left: 15px;
    }
  }

  &__main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-template-rows: 420px;
  }

  &__main-item {    
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }

  &__main-photo {    
    width: 370px;
    height: 250px;
    object-fit: cover;
  }

  &__main-btn {    
    @extend %poppins-700;
    color: #fff;
    background-color: $green;
    padding: 3px 28px;
    border-radius: 25px;
    width: 103px;
    margin-top: -17px;
    margin-left: 27px;
    margin-bottom: 20px;    
  }

  &__main-title {
    @extend %dmsans-500;
    font-size: 18px;
    line-height: 22px;
    color: #262626;    
    min-height: 56px;
    margin: 0 41px 28px 30px;
  }

  &__descr {
    display: flex;
    padding: 12px 0;
    margin-left: 30px;    
    width: 315px;
    border-top: 1px solid #e0e0e0;
  }

  &__box {
    display: flex;
    margin-right: 25px;

    &-img {
      margin-right: 5px;
      margin-bottom: 3px;
    }

    &-link {
      text-transform: uppercase;
      font-size: 12px;
      line-height: 30px;
      color: #222933;
    }
  }
}

@media (max-width: 1200px) {

  .articles-content {
    padding-top: 65px;

    &__main {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 25px;
      grid-row-gap: 25px;
    }

    &__main-photo {
      width: 100%;      
    }    
  }
}

@media (max-width: 860px) {

  .articles-content {    

    &__main {
      grid-template-columns: repeat(1, 1fr);     
    }   

    &__main-title {
      margin: 0 25px 10px;
    }    

    &__box {
      margin-right: 0;
    }
    
    &__descr {
      width: 90%;
      display: block;
      margin-left: 25px;
    }
  }
}

@media (max-width: 640px) {

  .articles-content {
    padding-top: 50px;
   
    &__main-title {
      font-size: 16px;
    }

    &__link {

      font-size: 12px;
      line-height: 20px;
      margin-left: 10px;
      
      span {
      margin-left: 5px;}      
    }
  }  
}