.team {
  &__inner {
    padding: 120px 0 65px;
    display: flex;
    justify-content: space-between;
  }

  &__descr {
    max-width: 305px;
    width: 100%;
  }

  &__descr-title {
    @extend %dmsans-700;
    font-size: 36px;
    line-height: 32px;
    margin-bottom: 35px
  }

  &__descr-text {
    line-height: 30px;
    margin-bottom: 40px;
  }

  &__descr-btn {
    background-color: $green;
    @extend %poppins-700;
    font-size: 15px;
    line-height: 55px;
    color: #fff;
    border-radius: 5px;
    padding: 0 18px;
    width: 170px;
    height: 50px;
    display: inline-block;
  }

  &__descr-btn__img {
    display: inline-block;
    margin-left: 20px;
  }

  &__photo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px 30px;
  }

  &__photo-item {
    position: relative;
  }

  &__photo-img {
    width: 370px;
    height: 320px;
    object-fit: cover;
  }

  &__photo-info {
    padding: 30px 20px 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 325px;
    height: 111px;
    background-color: #fff;
    position: absolute;
    bottom: -62px;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
  }

  &__photo-title {
    @extend %dmsans-700;
    font-size: 22px;
    line-height: 26px;
    color: $accent;
    margin-bottom: 8px;
  }

  &__photo-subtitle {
    line-height: 30px;
    color: #565872;
    display: block;
  }

  &__photo-social {
    display: flex;
  }

  &__photo-social__item {
    margin: 0 3px;
  }
}